/* full calendar styles tweaking */
body{
    display: flex;
    justify-content: center;
}

.fc{
    background-color: #F5F6F5;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 40px;
    color: black;
} 

.calendar-container{
    width: 1000px;
}

.fc-toolbar-title{
    color: #151C19;
    font-weight: 500;
}

.fc-header-toolbar {
    margin-top: 7px;
}

.fc .fc-button-primary{
  background-color: #151C19;
  color: white;
}

.fc-event {
  background-color: rgb(37, 60, 205);
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 12px;
  border: none ;
  box-shadow: none; 
  color: white;
}
 /* Took out that annoying line around the table */
 .fc .fc-scrollgrid-section{
  border: none;
}

/* Calendar Header styles */
.calendar-header {
    position: absolute;
    top: 20px;
    right: 105px;
    z-index: 1000;
    display: flex;
    gap: 1rem;
    align-items: center;    
  }
  
  .calendar-header select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    background-color: #F5F6F5;
    color: #6EA800;
    border: none;
    outline: none;
  }
  
  .calendar-header button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  
  .calendar-header button:hover {
    background-color: #0056b3;
  }

.custom-calendar-title {
    padding: 8px 0 16px 0;
    font-size: 24px;
    font-weight: 600;
    color: #040404;
    position: absolute;
    top: 15px;
    left: 100px;
  }

  .fc-wrapper {
    background: #f9faf9;
    border-radius: 20px;
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    height: 95vh;
    overflow-y: auto;
    scrollbar-width: none;
  }
  
  .fc {
    background: transparent;
    padding: 0;
  }
  /* Table */
  .fc-scrollgrid{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none !important;
  }

  .month-label{
    position: relative;
  }

  a{
    color: #7A8682;
  }
  a:hover{
    color: #6EA800;
  }

  .fc .fc-daygrid-day.fc-day-today {
    background: linear-gradient(120deg, #D1F68A, #F5FFA6);

  }

  .fc-timegrid-slot {
    background-color: #f9faf9 !important;
    border-left: 3px solid black;
  }

.fc .fc-scrollgrid-section,
.fc .fc-timegrid-axis,
.fc .fc-timegrid-slot-label,
.fc .fc-col-header-cell {
  border: none !important;
}

.fc .fc-timegrid-axis {
  background: transparent;
  border: none;
  color: #7c7c7c;
  font-size: 12px;
}

.fc .fc-event-main {
  padding: 4px 0;
}

.fc-daygrid-day-number {
  display: block !important;
  color: #151c19;
  font-weight: 500;
  font-size: 14px;
  padding: 6px;
}

.fc-timeGridDay-view .fc-timegrid-axis,
.fc-timeGridDay-view .fc-scrollgrid-sync-inner {
  display: none;
}

.fc-timegrid-slot-lane{
  border-left: 2px solid #020202;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: none;
  border-left-style: dashed;
  border-right-style: dashed;
  padding: 20px;
}

.fc .fc-timegrid-slot {
  border-bottom: 0px;
  height: 1.5em;
  padding: 20px;
  border-left-style: dashed;
}

.fc-timeGridDay-view {
  background-color: #f9faf9;
  margin-top:-30px;
}