.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    animation: fadeIn 0.3s ease;
  }
  
  .modal h3 {
    font-size: 20px;
    margin-bottom: 8px;
    color: #333;
    margin-top: 0px;
  }
  
  .modal input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 20px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal p{
    color: black;
    margin-bottom: 8px;
  }

  .modal-buttons button {
    background-color: rgb(29, 29, 66);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
    margin-left: 12px;
  }
  
  .modal-buttons button:hover {
    background-color: #1e5f02;
  }
  
  .modal-buttons button:first-child {
    background-color: #ccc;
  }
  
  .modal-buttons button:first-child:hover {
    background-color: #aaa;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
 
/* full calendar styles */
body{
    /* display: block; */
    display: flex;
    justify-content: center;
}

.fc{
    background-color: #F5F6F5;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 40px;
    color: black;
} 

.calendar-container{
    width: 1000px;
}

.fc-toolbar-title{
    color: #151C19;
    font-weight: 500;
}

.fc-header-toolbar {
    margin-top: 7px;
}

.fc .fc-button-primary {
    background-color: red;
    color: #333;
  }

/* .fc .fc-button-primary :hover {
    background-color: red;
    color: #333;
  } */

  
.fc-event{
    background-color: rgb(37, 60, 205);
    color: white;
}

/* Calendar Header styles */
.calendar-header {
    position: absolute;
    top: 20px;
    right: 105px;
    z-index: 1000;
    display: flex;
    gap: 1rem;
    align-items: center;    
  }
  
  .calendar-header select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    background-color: #F5F6F5;
    color: #6EA800;
    border: none;
    outline: none;
  }
  
  .calendar-header button {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    cursor: pointer;
  }
  
  .calendar-header button:hover {
    background-color: #0056b3;
  }
  .calendar-wrapper{

  }
  .fc .fc-button-primary{
    background-color: #151C19;
    color: white;
}

.custom-calendar-title {
    padding: 8px 0 16px 0;
    font-size: 24px;
    font-weight: 600;
    color: #040404;
    position: absolute;
    top: 15px;
    left: 100px;
  }

  /* Table */
  .fc-scrollgrid{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
  }

  .month-label{
    position: relative;
  }

  a{
    color: #7A8682;
  }
  a:hover{
    color: #6EA800;
  }

  .fc .fc-daygrid-day.fc-day-today {
    background: linear-gradient(120deg, #D1F68A, #F5FFA6);

  }